<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="subscribe-text">Subscribe to our job seeker mailing list</p>
        </div>
        <div class="col-md-6">
          <form class="subscribe-form">
            <div class="form-group">
              <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
    
  </footer>
  <div class="footer2">
    <i class="fas fa-envelope"></i><input type="email" placeholder="email" >
    <div>
        copyright &copy; 2024 two Bytes Consulting Terms and Policies.
    </div>
  </div>

  
  