.main{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 200px;
}
img{
    width: 213px;
    height: 200px;
}
.editbutton{
    margin-left: 10px;
}
.main-button{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}